PORT=5000
MONGO_URI=mongodb+srv://user:user123@cluster0.dmaf4l4.mongodb.net/hostel_pass_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecuresecretkey123!@#
CLIENT_URL=http://localhost:5173,*
NODE_ENV=production
